*{ padding: 0px; margin: 0px;}
body{ font-family: "微软雅黑"; font-size: 16px;}
ul{ padding: 0px; margin: 0px;}
li{ list-style-type: none;}
a {outline-style:none;  text-decoration:none;}
a:hover{color: #000000;}
h1, h2, h3, h4, h5, h6,span,img{padding: 0px; margin: 0px;}
.t-top{ height: 44px; background: #c6010f; text-align: center;font-size:16px; color: #FFF; line-height: 44px; overflow:hidden;}
.t-top a{ float: left; padding: 2px 0px 0px 10px;}
.t-main{ width: 100%; height: 100%; clear: both;}
.t-main img{ width:100%; vertical-align: middle; margin: 0 auto}
.t-main2{ width: 100%; height: 100%; }
.t-main2 img{ width:100%; display: block; vertical-align: middle; clear: both; }
.t-main1{margin: 0px 10px;background: white;border-radius: 10px;box-shadow: #999999 3px 3px 3px 0px; padding: 1em;color: #333333}
.t-main1 span{  border-bottom: 1px solid #d3d3d3; line-height: 28px; font-size: 16px; display:block;}
.name-input{ border:none; height: 30px; width: 55%; font-size: 16px; color: #444444; margin-left:1em}
.address-input{ border: 1px solid #D3D3D3; height: 30px; width: 71%; font-size: 16px;}
.square-input{ border: 1px solid #D3D3D3; height: 30px; width: 30%;font-size: 16px;}
.house-input{ border: 1px solid #D3D3D3; height: 30px; width: 30%;font-size: 16px;}
.t-main1-list{ line-height:2.5em; padding-left:1em}
.t-main1-list label{ float:left; line-height:32px;
    text-align: right;}
.t-main1-list label span{ color:#e60011 }
.t-main2-list{ padding-left: 10px;padding-top: 20px;}
.t-main2-list label{ float:left; line-height:32px;}
.t-main2-list label span{ color:#e60011 }
.subbtn{ margin:15px 10px; height:35px; display: block; background: #F74F4F; text-align:center; line-height:35px; color:#FFF; font-size: 15px; }
.subbtn img{ vertical-align: middle; }
.selcet-input{ clear: both; border: 1px solid #D3D3D3; height: 30px; width: 33%; }
.t-nav{clear: both; z-index: 9999; background:#c6010f ; position: absolute; width: 100%;}
.t-nav a{ color: #FFF;width: 100%;  text-align: center; font-size:16px; }
.job-select{border-radius: 3px; border: 1px solid #D3D3D3; height: 30px; width:40%;font-size: 16px;}
.content{  line-height: 22px; text-indent: 24px; padding-bottom:30px ;}
.content div{ line-height:38px; background: url(../Images/add.jpg) no-repeat; display: block; height: 38px; }
.content p{  color: #5b5b5b; font-size: 12px;}
.content a{ color: #5b5b5b; text-indent: 24px; font-size: 12px; display: block;}

.t-line{width: 85%;
    border: 1px solid #f0f0f0;
    margin: 0 auto 1em auto;border-radius:5px;}
.fa-color{ color:#F74F4F}

/*照片上传*/
.demo{min-width:360px;margin:30px auto;padding:10px 20px}
.demo h3{line-height:40px; font-weight: bold;}
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}

