@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑",Arial, Helvetica, sans-serif}
ul,li{ list-style-type:none}
ul li{list-style-type:none}
a{ text-decoration:none;}
.clear{ clear:both}
.t-main1 {
    margin: 0.5em 10px;
    background: white;
    border-radius: 10px;
    box-shadow: #999999 3px 3px 3px 0px;
    padding: 1em;
    color: #333333;
	border:1px solid #f0f0f0
}

.sanhuiyk{}
.leftw{width:20%;float:left}
.rightw{width:80%;float:left}
.sanhuiyk li{border-bottom:1px dashed #999999; padding-bottom:0.2em;margin-bottom: 1em; min-height:2em}
.sanhuiyk a{font-size:16px; color:#444444}
.sanhuiyk a img{ width:100%; display:block; float:left;box-shadow: #999999 2px 2px 3px 0px;}
.sanhuiyk a p{ color:#333333; margin-left:1em;text-align:justify;bold:none; margin-bottom:0}
